//FONTS
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//VARIABLES

@import "variable";
body{
	background-color:$lowsilver;
	font-family:"open-sans" serif;
}
.subcontainer{
	background-color:#F0F0F0;	
	height:800px;
}
.mainmenu{
	width:100%;
	height:40px;
	background-color:$red;
	position:fixed;
	z-index:1000;
	top:0;

}
.mainmenu ul{
	display:block;
}
.mainmenu ul li{
	display:inline-block;
	float:right;
	padding:10px 10px;
}
.mainmenu ul li a{
	color:$white;
}
.mainmenu ul li a p{
	font-size:16px;

}
.mainmenu ul li a p:hover{

}
/* .submenu{
	padding:5px;
	height:25px;
	background-color:$darksilver;
	position:fixed;
	top:0;
}
.submenu ul{
	float:right;
	display:block;
}
.submenu ul li{
	display:inline-block;

}
.submenu ul li a{

}
.submenu ul li a p{
	color:$white;
}
.submenu ul li a p:hover{
	color:$lowsilver;
}*/
.rightbar{
	background-color:$white;
	width:210px;
	height:800px;
	position:fixed;
	padding:10px 10px;
	z-index:1001;
	top:0;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.13);
-moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.13);
box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.13);
}
.brand{
	position:relative;
	left:20px;
}
.content-columnas{
	position:relative;
	top:60px;	
	overflow:auto;
	z-index:900;
}
.photofile{
	position:relative;
	left:50px;
	top:20px;
}
.img-circle {
    border-radius: 50%;
    border:2px solid $lowsilver;
}
.nametitle{
	position:relative;
	top:25px;
	
}
.nametitle span{
	font-weight:400;
}
.nametitle hr{
	width:180px;
	position:relative;
	left:0;
}
.upper{
	font-size:16px;	
}
.lowcasse{
	font-size:12px;
}
.contentbar{
	position:relative;
	left:0;
	top:10px;

}
.contentbar ul{
	padding:20px;

}
.contentbar ul li{
	list-style:none;
	padding:3px 0;
}
.contentbar ul li:hover{
	opacity:0.8;
}
.contentbar ul li a{
	color:$darksilver;

}
.contentbar ul li a:hover{
	color:$red;
}
.contentbar ul li a span{
	margin:0 30px 0 0;
	
}

.contentbar i{
	color:$red;
	float:right;
}
.btn-bar{
	position:relative;
	top:-7px;
	left:160px;
}
	
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
	.rightbar{
		display:none;
	}
}
@media (max-width: 480px) {
	.rightbar{
		display:none;
	}
}