//FONTS
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//VARIABLES
@import "variable";

body{
	background-color:$lowsilver;
	font-family:"open-sans" serif;
}
.container{
	background-color:$white;	
	height:800px;
}
.submenu{
	padding:10px 0 10px 0;
	height:30px;
	background-color:$red;
	position:fixed;
	top:0;
}
	
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}